code[class*="language-"], pre[class*="language-"] {
    font-size: 14px !important;
    color: var(--color-highlight) !important;
    background-color: #3a3d3d !important;
    border-radius: 2px;
}

code[class*="language-"], pre[class*="language-"] {
    font-size: 13px !important;

}

.code__example {
    margin-bottom: 1.5rem !important;
}

code, code span {
    font-family: monospace !important;
    font-size: 13px !important;
    align-self: center;
}
