.content {
    position: relative;
    left: 0;
    width: 100%;
    min-height: calc(100vh - var(--topbar-height));
    padding: 2rem 2rem 6rem;
    transition: width var(--animation-speed-normal) ease-in-out, left var(--animation-speed-normal) ease-in-out;
    background-color: var(--color-content-bg);
    color: var(--color-grey-dark);
}

@media screen and (min-width: 600px) {
    #contentContainer.nav-active .content {
        width: calc(100% - var(--sidebar-width));
        left: var(--sidebar-width);
    }
}

@media screen and (min-width: 1000px) {
    .content {
        width: calc(100% - var(--sidebar-width));
        left: var(--sidebar-width);
        padding: 2rem 4rem 6rem;
    }
}
