body {
    /* COLORS */
    --color-highlight: #66CC99;
    --color-highlight-light: #bce6d1;
    --color-sidebar-bg: #F1F3F5;
    --color-content-bg: #F9F9FB;
    --color-grey-dark: #4C5253;
    --color-grey-light: #848B8D;

    /* SIZES */
    --topbar-height: 4rem;
    --sidebar-width: 320px;

    /* ANIMATION */
    --animation-speed-normal: .3s;
}
